@model WebCalc.Models.HistoryViewModel

@{
    ViewBag.Title = "History";
}

<h2>История операций</h2>
<p>
    @if (Model.Top3 != null)
    {
        foreach (var item in Model.Top3)
        {
            @Html.ActionLink($"{item.OperationName} ({item.OperationCount}) ", "History", "Calc", new { filter = item.OperationName }, null);
        }
    }
    else
    {
        @Html.ActionLink("Вся история операций", "History", "Calc")
    }
</p>
<table class="table">
    <tr>
        <th>Номер</th>
        <th>Операция</th>
        <th>Операнды</th>
        <th>Результат</th>
        <th>Время выполнения, мс</th>
        <th>Дата выполнения</th>
        <th>Пользователь</th>
    </tr>

    @foreach (var item in Model.OperationHistory)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => item.Id)
            </td>
            <td>
                @Html.DisplayFor(i => item.OperationName)
            </td>
            <td>
                @Html.DisplayFor(i => item.Arguments)
            </td>
            <td>
                @Html.DisplayFor(i => item.Result)
            </td>
            <td>
                @Html.DisplayFor(i => item.ExecutionTime)
            </td>
            <td>
                @Html.DisplayFor(i => item.ExecutionDate)
            </td>
            <td>
                @Html.DisplayFor(i => item.User.Name)
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Калькулятор", "Index")
</div>
